[Unit]
Description=odl
After=network.target

[Service]
ExecStart=/home/vagrant/opendaylight-0.12.3/bin/karaf server

[Install]
WantedBy=multi-user.target