[Unit]
Description=ovs
After=network.target

[Service]
Environment=PYTHONPATH=/home/vagrant/.local/lib/python3.6/site-packages
ExecStart=/usr/bin/python3 /home/vagrant/ovs/main.py

[Install]
WantedBy=multi-user.target